.posts {
    display: grid;
    grid-row-gap: 16px;
}

@media screen and (max-width: 549px) {
    .nav {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
    
        /* This trasform moves the drawer off canvas. */
        -webkit-transform: translate(-300px, 0);
        transform: translate(-300px, 0);
    
        /* Optionally, we animate the drawer. */
        transition: transform 0.3s ease;
    }
    
    .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .nav__item {
        display: list-item;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }
    
    body{
		min-width : 45px;
		min-height: 45px;
	}
}

@media screen and (min-width: 650px) {
    .post-item__content {
        padding: 16px 32px 32px 32px;
    }

    .post-item__title {
		min-width : 45px;
		min-height: 45px;
    }

    .post-item__description {
        min-width : 45px;
		min-height: 45px;
    }
    .post-item__lokasidanrating {
        min-width : 45px;
		min-height: 45px;
    }
}

@media screen and (min-width: 700px) {
    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
    .post-item__description {
        min-width : 45px;
		min-height: 45px;
    }
    .post-item__lokasidanrating {
        min-width : 45px;
		min-height: 45px;
    }
    
}

@media screen and (min-width: 800px) {
    .nav__list {
        max-width: 800px;
        margin: 0 auto;
    }
    .post-item__description {
        min-width : 45px;
		min-height: 45px;
    }
    .post-item__lokasidanrating {
        min-width : 45px;
		min-height: 45px;
    }

    .post-item__title {
		min-width : 45px;
		min-height: 45px;
    }

    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
    }
    
    .app-bar .app-bar__brand h1 {
        font-size: 2.5em;
    }
    
    .app-bar .app-bar__menu {
        display: none;
    }
    
    .app-bar .app-bar__navigation {
        position: static;
        font-size: 2.5em;
        width: 100%;
    }
    
    .app-bar .app-bar__navigation ul li {
        display: inline-block;
    }
    
    .app-bar .app-bar__navigation ul li a {
        display: inline-block;
        width: 120px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 8px;
    }
}

@media screen and (min-width: 900px) {

    .posts {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
        grid-template-columns: repeat(4, 1fr);
    }
}