<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FFE3E1"/>

  <link rel="manifest" href="./app.webmanifest">
  <link rel="apple-touch-icon" href="./icons/restaurant-128x128.png">
  <link rel="icon" href="./icons/restaurant-128x128.png">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Cookie&display=swap" rel="stylesheet">
  
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <title>Ayoo Makannn</title>
</head>

<body>
  <a tabindex="1" href="#mainContent" class="skip-link">Menuju ke konten</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1 tabindex="0">Ayoo Makannn</h1>
    </div>  
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://github.com/sholllll662?tab=repositories">About Us</a></li>
      </ul>
    </nav>
  </header>
  
  <div class="hero">
    <div class="hero__inner">
      <h1 tabindex="0" class="hero__title">Binggung Mencari Tempat makan yang lezat?</h1>
      <p tabindex="0" class="hero__tagline">Di Web Ayoo Makannn ini akan memberikan rekomendasi restaurant terbaik se-Indonesaia</p>
    </div>
  </div>
<main id="mainContent">
</main>
  <footer>
    <p tabindex="0">Copyright Mang udin</p>
  </footer>
</body>
</html>
